
body {
    background: white;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
}


.container{
    width: 80%;
    margin: 0 auto;
    position: fixed;
    top:0;
    border-bottom: none;
    z-index: 999;
    background: white;
}


h1 { 
    float: left;
}
h1 a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
}

nav {
    float: right;
    margin: 0 auto;
}

nav ul {
margin: 0 auto;
list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding:30px 0 0 20px;
}

nav a{ 
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover{
    color: black;

}

#para { 

    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    
    
}

h2 { 
    margin:0 auto;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}


#dunder{
    margin: 40 auto;
    text-align: center;
    padding-top: 80px;
}

#dunder img {
    display: inline-block;
}


@keyframes slider {

15% {
    left: 0;
}

20% {
    left:-100%;
}

35%{
    left: -100%;
}

40% {
    left: -200%;
}

55%{
    left: -200%;
}
70%{
    left: -300%;
}
75%{
    left: -300%;
}
90%{
    left: -400%;
}
95%{
    left:-400%;
}
100%{
    left:-500%;
}
}

#slider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

#slider #figslid img {
    width: 16.6667%;
    

}
#slider #figslid{
    position: relative;
    width: 600%;
    margin: 0;
    left: 0;
    text-align: left;  
    font-size: 0;
    animation: 20s slider infinite;
}

#para_header {
    text-align: center;
    padding: 30px 0;
    font-size: 36px;
    font: calibri;
}

.container2{
    width: 100%
}

.container2 #textwho{
    width: 90%;
    font-size: 28px;
    text-align: justify;
    font-family: calibri;
    margin: 0 auto;
    padding-bottom: 30px;
}

#ccounter{
    display:inline;
}
#uncles{
    width:75%;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
}

footer{
    text-align: center;
    font: calibri;
    padding-bottom: 45px;
    padding: 40 0;
    margin-top: 30px;
}
footer a{
    color: black;

}

#tree_contain{
    margin: 80px 0;
}

#grandparents_tree{
    text-align: center;
}
#grandparents_tree img{
    width: 100%;
    margin: 30px 30px 10px 30px;
    display: block;
    margin: 0 auto;
}
#Grandparents{
    width: 25%;
    display: inline-block;
    padding: 10px;
}
#Uncles_tree{
    text-align: center;
    overflow: auto;
    display: table;
    
}
#Uncles_tree img{
    width: 100%;
    margin: 10px;
    display: block;
    margin: 0 auto;
}
#Unclesfig{
    width: 12%;
    display: inline-block;
    padding: 10px;
    margin: 3px 5px;
}
.members {
    font-size: 24px;
}

.members img{
    border: 1px solid black;
}
.members ul{
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
}
.members ul li{
    list-style: none;
}
.members li a{
    text-decoration: none;
    color: black;
}